/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    al: #383E4AFF;
    bg: #2E3440FF;
    fg: #E5E9F0FF;
    se: #81A1C1FF;
    ac: #A3BE8CFF;
    ur: #BF616AFF;
}
